[copr:copr.fedorainfracloud.org:{{ repo }}]
name=Copr repo for {{ repo.split('/')[1] owned by {{ copr_owner }}
baseurl=https://download.copr.fedorainfracloud.org/results/{{ copr_owner }}/{{ copr_name }}/epel-6-$basearch/
type=rpm-md
skip_if_unavailable=True
gpgcheck=1
gpgkey=https://download.copr.fedorainfracloud.org/results/copart/restic/pubkey.gpg
repo_gpgcheck=0
enabled=1
enabled_metadata=1
